set timeout=2
loadfont unicode
set menu_color_normal=white/black
set menu_color_highlight=black/light-gray
if [ -s "${prefix}/system/${net_default_mac}" ]; then
    source "${prefix}/system/${net_default_mac}"
    echo "Machine specific grub config file ${prefix}/system/${net_default_mac} loaded."
else
    echo "Could not find machine specific grub config file ${prefix}/system/${net_default_mac}"
    sleep 30
fi
