server {
    listen 80;
    server_name _;

    location /iso {
        alias /var/www/iso;
        autoindex on;
    }

    location /ipxe {
        alias /var/www/tftpboot/ipxe;
        autoindex on;
    }
}
