dhcp-match=set:efi-x86_64,option:client-arch,7
dhcp-match=set:efi-x86_64,option:client-arch,9

dhcp-match=set:ipxe,175,19

dhcp-boot=tag:efi-x86_64,ipxe/ipxe.efi

dhcp-boot=tag:ipxe,tag:efi-x86_64,http://{{ pxeboot_server_ip }}/ipxe/boot.ipxe
