# BIOS
dhcp-host={{ .MACAddress }},set:dhcp-{{ .MACAddressFormat }}

# iPXE
dhcp-boot=tag:ipxe,tag:efi-x86_64,tag:dhcp-{{ .MACAddressFormat }},http://{{ .PXEServerHost }}/ipxe/{{ .MACAddressFormat }}
