DEFAULT {{ .Name }}_{{ .Codename }}_iso
PROMPT 0
TIMEOUT 30
LABEL {{ .Name }}_{{ .Codename }}_iso
    MENU LABEL ^Install {{ .Name }} {{ .Codename }}
    KERNEL memdisk
    INITRD http://{{ $.PXEServerHost }}/iso/images/{{ .Name }}/{{ .Codename }}/{{ .ISOFile }}
    APPEND iso raw
